{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    ["babel-plugin-styled-components", {
      "ssr": true, 
      "displayName": false, 
      "preprocess": false 
    }]
  ]
}